<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'block_name' %}
    <title>Inicio</title>
    {% endblock 'block_name' %}
    <link rel="stylesheet" href={% static 'css/styles.css' %}/>
</head>
<body>
    <ul>
        <li><a href={% url 'index' %}>Home</a></li>
        <li><a href={% url 'alumnos' %}>Alumnos</a></li>
        <li><a href={% url 'profesores' %}>Profesores</a></li>
        <li><a href={% url 'listar' %}>Buscar Profesores</a></li>
        <li><a href="#">Directivos</a></li>
    </ul>
    {% block 'body_block' %}
        <h1 id="prueba">Bienvenidos al sitio web de la escuela</h1>
        <br>
        <img src={% static 'assets/logo.jpg' %} alt="logo">
    {% endblock 'body_block' %}
    <footer id="pie">
        <h6 id="autor">Creada por Cristian Mondragon</h6>
    </footer>
</body>
</html>