<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href={% static 'css/styles.css' %}/>
</head>
<body>
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">Alumnos</a></li>
        <li><a href="contact.asp">Profesores</a></li>
        <li><a href="about.asp">Directivos</a></li>
    </ul>
    <h1 id="prueba">Bienvenidos al sitio web de la escuela</h1>
    <br>
    <img src={% static 'assets/logo.jpg' %} alt="logo">
    <footer id="pie">
        <h6 id="autor">Creada por Cristian Mondragon</h6>
    </footer>
</body>
</html>