{% extends 'index/index.html' %}

{% block 'body_block' %}
<h1 style="text-align: center";>login Alumnos</h1>
<h4 style="text-align: center";>Ingrese los datos de registro</h4>
<form action="" method="post" style="text-align: center";>
    {% csrf_token %}
    <table style = "margin-left: auto; margin-right: auto;">
        {{form.as_table}}
    </table>
    <br>
    <input type="submit"value="Ingresar">
    <a href= {% url 'crearalumnos' %}>Registrarse</a>
    
</form>
{% endblock 'body_block' %}